%h1 Contact
%p
  If you want to contact the Fedora Ruby community, send an e-mail to the
  = link_to 'Ruby SIG mailing list', 'mailto:ruby-sig@lists.fedoraproject.org'
  or visit the
  = link_to 'irc channel', 'http://webchat.freenode.net/?channels=#fedora-ruby', target: 'blank'
  %em
    \#fedora-ruby
  on freenode.net
