.row
  .description
    %h1
      Fedora ruby integration
    %p
      %h4 Overview
      IsItFedoraRuby keeps track of the Ruby integration in Fedora. It caches
      information about the packaged rubygems through various Fedora services
      and delivers the data for a quick overview.
  .col-md-6.col-lg-6
    = render partial: 'stats/popular_gems'
  .col-md-6.col-lg-6
    = render partial: 'stats/recent_rpms'
