---
http_interactions:
- request:
    method: get
    uri: https://admin.fedoraproject.org/pkgdb/api/collections?pattern=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apptime:
      - D=8670
      Appserver:
      - pkgdb02.phx2.fedoraproject.org
      Content-Type:
      - application/json
      Proxytime:
      - D=10919
      Proxyserver:
      - proxy01.phx2.fedoraproject.org
    body:
      encoding: UTF-8
      string: "{\n  \"output\": \"ok\", \n  \"collections\": [\n    {\n      \"version\":
        \"devel\", \n      \"status\": \"Under Development\", \n      \"dist_tag\":
        \".fc22\", \n      \"branchname\": \"master\", \n      \"koji_name\": \"rawhide\",
        \n      \"name\": \"Fedora\"\n    }\n  ]\n}"
  recorded_at: Tue, 29 Jul 2014 08:16:02 GMT
recorded_with: VCR 2.9.2
