@import 'bootstrap';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  height: 100%;
}

body {
  font-family: "Liberation Sans", "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans", helvetica, verdana, arial, sans-serif;
  padding-top: 70px;
//  line-height: 1.42857;
  margin: 0px;
  font-size: 14px;
  color: rgb(90, 90, 90);
}
/* Override bootstrap */

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(58, 102, 164, 0.40);
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* Navbar colors */

$bgDefault      : #3264a3;
$bgHighlight    : #1c507d;
$colDefault     : #d1d8e2;
$colHighlight   : #dce7f6;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: transparent; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

// http://getbootstrap.com/css/#tables
// hack for firefox only
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.error{
  color: red;
}

@media (min-width: 768px) and (max-width: 993px) {
  .navbar-brand {
    display: none
  }
}

@media (max-width: 767px) {
  .navbar-form {
    padding: 10px 10% 10px 100px;
    margin: 0px 40% 0px -90px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width: 400px;
  height: 200px;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.form-search {
  margin-bottom: 0px;
  margin-left: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
//  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* header */

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.label.label-info {
  a {
    color: white;
  }
}

.progress {
  width: 200px;
}

.description {
  margin: 30px 20px 0px;
}

.stats {
  h2 {
    color: $gray-darker;
    letter-spacing: 0.5px;
    word-spacing: 2px;
  }
}

.gemfile_input_container {
  margin-top: 10px;
}

.gemfile_tool_result_success {
  color: green;
  display: block;
}

.gemfile_tool_result_fail {
  color: red;
  display: block;
}

.alert {
  width: 350px;
}

.typeahead,
.tt-query {
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.tt-hint {
  color: #999;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#search_field {
//  margin: 10px;
}

.tt-suggestion {
  padding: 1px 10px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
